@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #1c1c1c;
    overflow: hidden;
    display: grid;
    place-items: center;
}

h1 {
    color: #ececec;
    font-size: 6rem;
    text-align: center;
    font-family: "DM Serif Text", system-ui, sans-serif;
    width: min-content;
    line-height: 1;
}

img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 400px;
    max-height: 400px;
}

.fadeIn {
    animation: fadeIn .5s ease forwards;
}

@keyframes fadeIn {
    to {
        transform: translate(0, 0);
    }
}

.fadeOut {
    animation: fadeOut .5s ease forwards;
}

@keyframes fadeOut {
    from {
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(2);
    }
}